html,
body {
  margin: 0;
  padding: 0;
}

#slider {
  position: absolute;
  top: calc(50% - 260px);
  left: calc(50% - 400px);
  width: 800px;
  height: 500px;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  overflow: hidden;
}

.box::after {
  content: "";
  display: block;
  width: 800px;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.box:nth-child(1):after {
  background-color: rgb(163, 107, 255);
}
.box:nth-child(2):after {
  background-color: rgb(178, 214, 130);
}
.box:nth-child(3):after {
  background-color: rgb(129, 200, 241);
}
.box:nth-child(4):after {
  background-color: rgb(255, 68, 68);
}

.paint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.paint div {
  width: 100%;
  height: 25%;
  background-color: #fff;
  transform: translateX(-100%);
}

/**************************************************************
 * animation
 **************************************************************/
.box:nth-child(1) {
  animation: show-box 0.8s ease 0.5s forwards;
}
.box:nth-child(2) {
  animation: show-box 0.8s ease 0.9s forwards;
}
.box:nth-child(3) {
  animation: show-box 0.8s ease 1.4s forwards;
}
.box:nth-child(4) {
  animation: show-box 0.8s ease 1.8s forwards;
}

.paint div:nth-child(1) {
  animation: slide-right 0.7s ease 2.3s forwards;
}
.paint div:nth-child(2) {
  animation: slide-right 0.7s ease 2.4s forwards;
}
.paint div:nth-child(3) {
  animation: slide-right 0.7s ease 2.5s forwards;
}
.paint div:nth-child(4) {
  animation: slide-right 0.7s ease 2.6s forwards;
}

/**************************************************************
 * keyframes
***************************************************************/
@keyframes show-box {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
